<configuration>
	<appSettings>
		<add key="ProgramDirectory" value="C:\Users\Public\FileMonitor"/>
		<add key="DatabasePath" value="C:\Users\Public\FileMonitor\FMDB.sqlite"/>
	</appSettings>
	<connectionStrings>
		<add name="FileMonitorDbContext" connectionString="Data Source=C:\Program Files\FileMonitor\FMDB.sqlite" providerName="System.Data.SQLite.EF7"/>
	</connectionStrings>
</configuration>