<configuration>
	<connectionStrings>
		<add name="FileMonitorDbContext" connectionString="Data Source=C:\Users\Public\FileMonitor\FMDB.sqlite" providerName="System.Data.SQLite.EF7"/>
	</connectionStrings>
	<appSettings>
		<add key="DatabasePath" value="C:\Users\Public\FileMonitor\FMDB.sqlite"/>
	</appSettings>
</configuration>